<div id="intro">
  <h1>Hi, I'm Reggie and I'm a full stack web developer"</h1>
  <a href="https://github.com/reggiekim">/reggiekim</a>
  <a href="mailto:reggiekim@gmail.com?subject=Nice%20homepage!">reggiekim@gmail.com</a>
</div>
<div id="projects-container">
</div>
