<nav id="nav-bar" class="white">
  <div class="nav-wrapper">
    <ul class="left section table-of-contents">
      <li id="nav-link"><a href="#about">About</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>

<div id="about" class="row section scrollspy">
  <div id="intro" class="valign-wrapper">
    <p class="valign center white-text" style="width: 100%"><span style="font-size: 60px; font-weight: bold">Reggie Kim<br/></span>full-stack web developer<br/>
    i love to make things and solve problems<br/>
    i like football, snowboarding, and flannel</p>
  </div>
  <div id="skills-container" class="row col s8 m12 l8 offset-s2 offset-l2">
    <div class="stack col s12 m4">
      <img src="/img/frontend-icon.png"  height="70" />
      <h4 class="yellow-text text-darken-1">Front-end</h4>
      <p>HTML5<br/>
      CSS3<br/>
      JavaScript, jQuery
      </p>
    </div>
    <div class="stack col s12 m4">
      <img src="/img/backend-icon.png"  height="70" />
      <h4 class="yellow-text text-darken-1">Back-end</h4>
      <p>Ruby, Sinatra, Rails<br/>
      NodeJS, Express
      </p>
    </div>
    <div class="stack col s12 m4">
      <img src="/img/database-icon.png" height="70" />
      <h4 class="yellow-text text-darken-1">Database</h4>
      <p>SQL, PostgreSQL</p>
    </div>
  </div>
</div>
<hr color="#fdd835" width="75%" />

<div id="work" class="container section scrollspy">
  <h3>Work</h3>
  <div id="beerontap" class="project row">
    <img src="/img/beerontap.jpg" height="300" class="responsive-img col s12 m8 offset-m2" >
    <a href="https://beerontap.herokuapp.com/" class="col s5 m3 l2 offset-s1 offset-m3 offset-l4 blue darken-2 waves-effect waves-light btn" target="_blank">Open App</a>
    <a href="https://github.com/reggiekim/beerfind" class="col s5 m3 l2 blue darken-2 waves-effect waves-light btn" target="_blank">View Code</a>
    <h5 class="col s12"><b>Beer On Tap</b></h5>
    <p class="col s12"><em>Description:</em>  A web application to help take some of the mystery away from the bar. Enter the name of the beer you are curious about, the query will call the BreweryDB API and return a JSON object with possible matches. Rendered will be the matches with images, a brief description, and additional information on the style of beer.</p>
    <p class="col s12"><em>Languages / Frameworks:</em>  Ruby, Sinatra, HTTParty, JavaScript, jQuery, HTML, CSS, Materialize</p>
  </div>
  <hr color="#1976d2" width="50%" />

  <div id="buzzbites" class="project row">
    <img src="/img/buzzbites.jpg" height="300" class="responsive-img col s12 m8 offset-m2" >
    <a href="https://buzzbites.herokuapp.com/" class="col s5 m3 l2 offset-s1 offset-m3 offset-l4 blue darken-2 waves-effect waves-light btn" target="_blank">Open App</a>
    <a href="https://github.com/Githubbubber/BuzzBites" class="col s5 m3 l2 blue darken-2 waves-effect waves-light btn" target="_blank">View Code</a>
    <h5 class="col s12"><b>BuzzBites</b></h5>
    <p class="col s12"><em>Description:</em>  A web application to that shows you which restaurants are hot on social media in your area.  Upon landing on the page, the Geolocation API grabs the user's coordinates, passes that data to the FourSquare API to return a JSON object with "Trending" restaurants in the area. The restaurants names are passed to the Instagram API and returns images that have Instagram hashtags that match the restaurant names. Rendered is a list of "Trending" restaurants in your area, along with a few Instagram images.<br/><br/><em>Note: AJAX support for the Instagram API has been deprecated.</em></p>
    <p class="col s12"><em>Languages / Frameworks:</em>  Ruby, Rails, JavaScript, jQuery, AJAX, HTML, CSS, Materialize, PostgreSQL</p>
  </div>
  <hr color="#1976d2" width="50%" />

  <div id="shortstackoverflow" class="project row">
    <img src="/img/shortstackoverflow.jpg" height="300" class="responsive-img col s12 m8 offset-m2" >
    <a href="https://shortstack-overflow.herokuapp.com/" class="col s5 m3 l2 offset-s1 offset-m3 offset-l4 blue darken-2 waves-effect waves-light btn" target="_blank">Open App</a>
    <a href="https://github.com/reggiekim/shortstack_overflow" class="col s5 m3 l2 blue darken-2 waves-effect waves-light btn" target="_blank">View Code</a>
    <h5 class="col s12"><b>ShortStack Overflow</b></h5>
    <p class="col s12"><em>Description:</em>  A CRUD application for simple programming questions. User can create and read topics. Answer or comment on existing topics. Topics are sorted by "upvotes".</p>
    <p class="col s12"><em>Languages / Frameworks:</em>  Ruby, Sinatra, JavaScript, jQuery, HTML, CSS, Skeleton, SQLite</p>
  </div>
  <hr color="#1976d2" width="50%" />

  <div id="tictacdem" class="project row">
    <img src="/img/tictacdem.jpg" height="300" class="responsive-img col s12 m8 offset-m2" >
    <a href="https://reggiekim.github.io/" class="col s5 m3 l2 offset-s1 offset-m3 offset-l4 blue darken-2 waves-effect waves-light btn" target="_blank">Open App</a>
    <a href="https://github.com/reggiekim/reggiekim.github.io" class="col s5 m3 l2 blue darken-2 waves-effect waves-light btn" target="_blank">View Code</a>
    <h5 class="col s12"><b>Tic-Tac-Dem</b></h5>
    <p class="col s12"><em>Description:</em>  A two-player JavaScript Tic-Tac-Toe game, with a current events twist!</p>
    <p class="col s12"><em>Languages / Frameworks:</em>  JavaScript, jQuery, HTML, CSS</p>
  </div>
</div>
<hr color="#fdd835" width="75%" />

<div id="contact" class="container row section scrollspy">
  <h3>Contact</h3>
  <br/><br/>
  <div class="my-contact col m4 s12 offset-m2">
    <a href="mailto:reggiekim@gmail.com" target="_blank"><img src="/img/email-mark.png" height="50" /></a><br/>
    <a href="mailto:reggiekim@gmail.com" target="_blank">reggiekim@gmail.com</a>
  </div>
  <div class="my-contact col m4 s12">
    <a href="https://github.com/reggiekim" target="_blank"><img src="/img/GitHub-mark.png" height="50" /></a><br/>
    <a href="https://github.com/reggiekim" target="_blank">/reggiekim</a>
  </div>
</div>


<footer class="page-footer blue darken-2">
  <div class="footer-copyright">
    <div class="container">
      © 2016 Reggie Kim
    </div>
  </div>
</footer>
