<div id="about-container">
  <h1>Reggie Kim</h1>
  <p>full-stack web developer during the day.<br/>football fan on the weekends.<br/>growing and learning the other times (unless i have a beer in hand)</p>
  <a href="https://github.com/reggiekim">/reggiekim</a>
  <a href="mailto:reggiekim@gmail.com?subject=Nice%20homepage!">reggiekim@gmail.com</a>
</div>
<div id="projects-container">
  <h1>Projects div</h1>
</div>
<div id="contact-container">
  <h1>Contact div</h1>
</div>
