<div class="container">
  <div id="about" class="row section scrollspy">
    <div id="intro">
      <h1>Reggie Kim</h1>
      <p>full-stack web developer by day<br/>
      football fan on the weekends<br/>
      growing and learning whenever else (unless i have a beer in hand)
      </p>
    </div>
    <div id="skills-container" class="row">
      <div class="stack col s4">
        <img src="/img/frontend-icon.png"  height="60" />
        <h4>Front-end</h4>
        <p>HTML5<br/>
        CSS3<br/>
        JavaScript, jQuery
        </p>
      </div>
      <div class="stack col s4">
        <img src="/img/backend-icon.png"  height="60" />
        <h4>Back-end</h4>
        <p>Ruby, Sinatra, Rails<br/>
        NodeJS, Express
        </p>
      </div>
      <div class="stack col s4">
        <img src="/img/database-icon.png" height="60" />
        <h4>Database</h4>
        <p>SQL, PostgreSQL</p>
      </div>
    </div>
  </div>
  <div id="nav-container">
    <hr>
    <ul class="section table-of-contents">
      <li><a href="#about">About</a></li>
      <li><a href="#works">Works</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <hr>
  </div>
  <div id="works" class="row section scrollspy">
    <h3>Projects div</h3>
    <div id="beerontap">
      <img src="/img/beerontap.jpg" height="400">
    </div>
    <div id="shortstackoverflow">
      <img src="/img/shortstackoverflow.jpg" height="400">
    </div>
    <div id="tictacdem">
      <img src="/img/tictacdem.jpg" height="400">
    </div>
  </div>
  <div id="contact" class="row section scrollspy">
    <h3>Contact</h3>
    <div class="contact col s6">
      <a href="mailto:reggiekim@gmail.com?subject=Nice%20webpage!" target="_blank"><img src="/img/email-mark.png" height="50" /></a><br/>
      <a href="mailto:reggiekim@gmail.com?subject=Nice%20webpage!" target="_blank">reggiekim@gmail.com</a>
    </div>
    <div class="contact col s6">
      <a href="https://github.com/reggiekim" target="_blank"><img src="/img/GitHub-mark.png" height="50" /></a><br/>
      <a href="https://github.com/reggiekim" target="_blank">/reggiekim</a>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2016 Reggie Kim
    </div>
  </div>
</footer>
