<nav id="nav-bar" class="white">
  <div class="nav-wrapper">
    <ul class="left section table-of-contents">
      <li id="nav-link"><a href="#about">About</a></li>
      <li><a href="#works">Works</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>

<div id="about" class="row section scrollspy">
  <div id="intro" class="valign-wrapper">
    <p class="valign center white-text" style="width: 100%"><span style="font-size: 70px; font-weight: bold">Reggie Kim<br/></span>full-stack web developer<br/>
    i like to make things and solve problems<br/>
    huge fan of football, snowboarding, and flannel</p>
  </div>
  <div id="skills-container" class="row col s8 offset-s2">
    <div class="stack col s4">
      <img src="/img/frontend-icon.png"  height="60" />
      <h4 class="yellow-text text-darken-1">Front-end</h4>
      <p>HTML5<br/>
      CSS3<br/>
      JavaScript, jQuery
      </p>
    </div>
    <div class="stack col s4">
      <img src="/img/backend-icon.png"  height="60" />
      <h4 class="yellow-text text-darken-1">Back-end</h4>
      <p>Ruby, Sinatra, Rails<br/>
      NodeJS, Express
      </p>
    </div>
    <div class="stack col s4">
      <img src="/img/database-icon.png" height="60" />
      <h4 class="yellow-text text-darken-1">Database</h4>
      <p>SQL, PostgreSQL</p>
    </div>
  </div>
</div>

<div id="works" class="container row section scrollspy">
  <h3>Projects div</h3>
  <div id="beerontap">
    <img src="/img/beerontap.jpg" height="400">
  </div>
  <div id="shortstackoverflow">
    <img src="/img/shortstackoverflow.jpg" height="400">
  </div>
  <div id="tictacdem">
    <img src="/img/tictacdem.jpg" height="400">
  </div>
</div>

<div id="contact" class="container row section scrollspy">
  <h3>Contact</h3>
  <br/><br/>
  <div class="contact col s6">
    <a href="mailto:reggiekim@gmail.com?subject=Nice%20webpage!" target="_blank"><img src="/img/email-mark.png" height="50" /></a><br/>
    <a href="mailto:reggiekim@gmail.com?subject=Nice%20webpage!" target="_blank">reggiekim@gmail.com</a>
  </div>
  <div class="contact col s6">
    <a href="https://github.com/reggiekim" target="_blank"><img src="/img/GitHub-mark.png" height="50" /></a><br/>
    <a href="https://github.com/reggiekim" target="_blank">/reggiekim</a>
  </div>
</div>


<footer class="page-footer blue darken-2">
  <div class="footer-copyright">
    <div class="container">
      © 2016 Reggie Kim
    </div>
  </div>
</footer>
