<div id="about-container">
  <div id="intro">
    <h1>Reggie Kim</h1>
    <p>full-stack web developer by day<br/>
    football fan on the weekends<br/>
    growing and learning whenever else (unless i have a beer in hand)
    </p>
  </div>
  <div id="skills-container" class="row">
    <div class="stack col s4">
      <img src="/img/frontend-icon.png"  height="60" />
      <h4>Front-end</h4>
      <p>HTML5<br/>
      CSS3<br/>
      JavaScript, jQuery
      </p>
    </div>
    <div class="stack col s4">
      <img src="/img/backend-icon.png"  height="60" />
      <h4>Back-end</h4>
      <p>Ruby, Sinatra, Rails<br/>
      NodeJS, Express
      </p>
    </div>
    <div class="stack col s4">
      <img src="/img/database-icon.png" height="60" />
      <h4>Database</h4>
      <p>SQL, PostgreSQL</p>
    </div>
  </div>
<div id="nav-container">
  <hr>
  <h2>nav div</h2>
  <a href="https://github.com/reggiekim">/reggiekim</a>
  <a href="mailto:reggiekim@gmail.com?subject=Nice%20homepage!">reggiekim@gmail.com</a>
  <hr>
</div>
<div id="projects-container">
  <h1>Projects div</h1>
</div>
<div id="contact-container">
  <h1>Contact div</h1>
</div>
