/* Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* Class for when element is pinned*/
.pinned {
  position: fixed !important;
}


.table-of-contents {
  padding: 0;
}

.table-of-contents a {
  padding-left: 0;
  padding-right: 0;
  font-size: 1.5em;
  margin-left: 60px;
}

.table-of-contents a:hover {
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-bottom: 1px solid #fdd835;
}

.table-of-contents a.active {
  border-left: none;
  border-bottom: 4px solid #fdd835;
  padding-left: 0;
  padding-right: 0;
}

#nav-bar {
  z-index: 2;
}

#intro{
  height: 450px;
  background:
    linear-gradient(
      rgba(25, 118, 210, 0.9),
      rgba(25, 118, 210, 0.85)
    ),
    url(/img/grass.jpg);
  background-size: cover;
}

#skills-container {
  padding-top: 50px;
}

.stack {
  text-align: center;
}

.project {
  padding-top: 60px;
  padding-bottom: 30px;
}

.btn {
  margin: 20px 10px;
}

#contact{
  height: 325px;
}

.my-contact {
  text-align: center;
  margin-bottom: 20px;
}
