/* Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* Class for when element is pinned*/
.pinned {
  position: fixed !important;
}

h3 {
  color: blue;
}

#intro {
  text-align: center;
}

.stack {
  text-align: center;
}

.contact {
  text-align: center;
}


#about{
  height: 600px;
}

#works{
  height: 900px;
}
#contact{
  height: 400px;
}

