/* Class for when element is above threshold */
.pin-top {
  position: relative;
}

/* Class for when element is below threshold */
.pin-bottom {
  position: relative;
}

/* Class for when element is pinned*/
.pinned {
  position: fixed !important;
}

#intro {
  text-align: center;
}

.stack {
  text-align: center;
}

.contact {
  text-align: center;
}

#nav-container {
  /* background-color: lightskyblue; */
}

ul {
  display: inline-block;
}

.table-of-contents a {
    padding-left: 0;
    font-size: 2em;
}

.table-of-contents a:hover {
    padding-left: 0;
    border-left: none;
    border-bottom: 5px solid lightyellow;
}

.table-of-contents a.active {
    border-left: none;
    border-bottom: 5px solid yellow;
    padding-left: 0;
}

#about{
  height: 500px;
}

#works{
  height: 900px;
}
#contact{
  height: 400px;
}

